/* website */
.container {
  width: 75%;
}

/* main page content */
.content {
  padding: 32px 16px;
  width: 100%;
}

/* navbar */
.navbar {
  padding: 0px 16px;
  width: 75%;
}

.navbar-default {
  background-color: #AAE0F2;
  border-color: #AAE0F2;

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  z-index: 99999;
}
/* Title */
.navbar-default .navbar-brand {
  color: #131A30;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2E3038;
}
/* Nav items */
.navbar-default .a {
  color: #131A30;
}
.navbar-default .a:hover,
.navbar-default .a:focus {
  color: #2E3038;
}

/* modals */
.modal-dialog {
  margin-top: 10%;
}

/* text */
body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}