
.image-grid {
    float: left;
    height: auto;
    width: auto;
    padding: 16px 16px;
}

/* posters */
.poster img {
    margin-bottom: -6px;
    cursor: pointer;

    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    min-width: 299;
    max-width: 299;
    min-height: 387;
    max-height: 387;
}

.poster img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}