

<!--
	Render a nav bar item
 -->
{% macro render_navitem(title, link, name) %}
	<li>
		<a {% if title and title == name %}
				class="active"
			{% endif %}
			href="{{ url_for(link) }}"
		>
			{{ name }}
		</a>
	</li>
{% endmacro %}

<!--
	Render an input field for a form
	Takes named arguments and renders any errors below the item
 -->
{% macro render_field(field, text, no_label=False) %}
	<div class="form-group">
		{% if not no_label %}
			{{ field.label() }}:
		{% endif %}
		{{ field(class="form-control", placeholder=text, **kwargs)|safe }}
		{% if field.errors %}
			<ul class="errors">
			{% for error in field.errors %}
				<p class="error" style="text-align: right; ">{{ error }}</p>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endmacro %}

<!--
 Render a submit button
-->
{% macro render_button(button) %}
	{{ button(type="submit") }}
{% endmacro %}

<!-- Movie Carousel -->
{% macro render_carousel(movies) %}
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				{% for movie in movies[:4] %}
					<a href="{{ url_for('about', movie=movie.id) }}">
						<img class="w3-card-4" src="{{ movie.poster }}" alt="{{ movie.title }}">
					</a>
				{% endfor %}
			</div>

			<div class="item">
				{% for movie in movies[4:] %}
					<a href="{{ url_for('about', movie=movie.id) }}">
						<img class="w3-card-4" src="{{ movie.poster }}" alt="{{ movie.title }}">
					</a>
				{% endfor %}
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
{% endmacro %}

<!-- Movie Correction Modal -->
{% macro correct_movie_modal(movie) %}
	<div id="correct_movie_{{ movie.id }}" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Correct {{ movie.title }} ({{ movie.year }})</h4>
				</div>
				<div class="modal-body">
					<form class="form" method="post">
						<input type="email" class="form-control" name="email" placeholder="Email Address" required="" autofocus=""/>
						<input type="text" class="form-control" name="first_name" placeholder="First Name" required=""/>
						<input type="text" class="form-control" name="last_name" placeholder="Last Name" required=""/>
						<input type="password" class="form-control" name="password" placeholder="Password" required=""/>
						<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required=""/>
						<button class="btn btn-lg btn-primary btn-block" type="submit" name="correct_movie" value="{{ movie.id }}">Save Data</button>
						<button class="btn btn-lg btn-danger btn-block" data-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

<!-- Movie Renaming Modal -->
{% macro rename_movie_modal(movie) %}
	<div id="rename_movie_{{ movie.id }}" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Rename {{ movie.title }} ({{ movie.year }})</h4>
				</div>
				<div class="modal-body">
					<form class="form" method="post">
						<input type="text" class="form-control" name="filename" value="{{ movie.filename }}" required="" autofocus=""/>
						<button class="btn btn-lg btn-primary btn-block" type="submit" name="rename_file" value="{{ movie.id }}">Rename</button>
						<button class="btn btn-lg btn-danger btn-block" data-dismiss="modal">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}