{% extends "base.html" %}
{% from "_helpers.html" import render_stars %}

{% block content %}

<head>
	<link href="{{ url_for('static', filename='styles/media.css') }}" rel="stylesheet">
</head>

<div class="media">

	<!-- Poster and controls -->
	<div class="media-left">
		<a href="{{ url_for('watch', movie=movie.id) }}" title="Watch {{ movie.title }}">
			<img class="media-object w3-card-4" src="{{ movie.poster }}">
		</a>
		<p></p>
		<center>
			<form class="btn-group" method="post">
				<a href="{{ url_for('watch', movie=movie.id) }}" title="Watch {{ movie.title }}"
					class="btn btn-default">
					<span class="glyphicon glyphicon-play"></span> Stream
				</a>
				<button class="btn btn-default" type="submit" name="play_movie" value="True" method="post">
					<span class="glyphicon glyphicon-film"></span> Video Player
				</button>
				<a class="btn btn-default" href="http://www.imdb.com/title/{{ movie.imdb_id }}">
					<span class="glyphicon glyphicon-new-window"></span> IMDB
				</a>
			</form>
		</center>
	</div>

	<!-- Movie metadata -->
	<div class="media-body">
		<h2>
			<span class="label label-info">{{ movie.score }}</span>
			<a href="{{ url_for('watch', movie=movie.id) }}" title="Watch {{ movie.title }}">
				{{ movie.title }} ({{ movie.year }})
			</a>
		</h2>

		<h4>
			<b>{{ movie.genre }}</b>
			&emsp;
			<b>{{ movie.rating }}</b>
			&emsp;
			{{ movie.runtime }}
		</h4>
		<br>
		<p>
			<b>Directors:</b> {{ movie.directors }}
			&emsp;
			<b>Writers:</b> {{ movie.writers }}
		</p>
		<p><b>Actors:</b> {{ movie.actors }}</p>
		<p>{{ movie.plot }}</p>
		<br>
		<p><b>Awards:</b> {{ movie.awards }}</p>
		<p>
			IMDB: <b>{{ movie.imdb_rating }}</b>
			&emsp;
			Metascore: <b>{{ movie.metascore }}</b>
			&emsp;
			Box Office: <b>{{ movie.box_office }}</b>
		</p>
	</div>
</div>
{% endblock %}