{% extends "base.html" %}
{% from "_helpers.html" import correct_movie_modal, rename_movie_modal %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='styles/admin.css') }}" rel="stylesheet">
</head>

<h2>Data Updating</h2>
<div class="well">
    <form class="btn-group" method="post">
        <button class="btn btn-lg btn-default" type="submit" name="fetch" value="True">
            Fetch Movies Data
        </button>
        <button class="btn btn-lg btn-default" type="submit" name="fetch_errors" value="True">
            Fetch All Movies Data
        </button>
    </form>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>
            Potential Errors
            <span class="label label-warning">{{ potentials_len }}</span>
        </h2>
        {% for pe in potentials %}
        {{ render_fix_movie(pe) }}
        {{ correct_movie_modal(pe) }}
        {{ rename_movie_modal(pe) }}
        {% endfor %}
    </div>

    <div class="col-lg-6">
        <h2>
            Errors List
            <span class="label label-danger">{{ errors_len }}</span>
        </h2>
        {% for error in errors %}
        {{ render_fix_movie(error) }}
        {{ correct_movie_modal(error) }}
        {{ rename_movie_modal(error) }}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% macro render_fix_movie(movie) %}
<div class="well">
    <a href="{{ url_for('about', movie=movie.id) }}">
        <h4>{{ movie.title }} ({{ movie.year }})</h4>
    </a>
    <p><b>Filename:</b> {{ movie.filename }}</p>
    <div class="btn-group">
        <button class="btn btn-default" data-toggle="modal" data-target="#correct_movie_{{ movie.id }}"
            name="correct_movie">
            Correct Data
        </button>
        <button class="btn btn-default" data-toggle="modal" data-target="#rename_movie_{{ movie.id }}"
            name="rename_movie">
            Rename File
        </button>
    </div>
</div>
{% endmacro %}