{% from "_helpers.html" import render_navitem %}

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/base.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<title>Caboodle</title>
</head>

<body class="container">

	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<b><a class="navbar-brand" href="{{ url_for('index') }}">Caboodle</a></b>
		</div>
		<ul class="nav navbar-nav">
			{{ render_navitem(title, 'admin', 'Admin') }}
		</ul>

		<div class="nav navbar-nav navbar-right">

			{% if user %}
			<p class="navbar-text">Welcome back {{ user.first_name }}!</p>
			<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			{% else %}
			<li><a href="#" data-toggle="modal" data-target="#register_modal"><span
						class="glyphicon glyphicon-user"></span> Register</a></li>
			<li><a href="#" data-toggle="modal" data-target="#login_modal"><span class="glyphicon glyphicon-log-in">
						Login</span></a></li>
			{% endif %}

			<form class="navbar-form navbar-right" method="post">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..." name="search" {% if search
						%}value="{{ search.query }}" {% endif %}>
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search"></span>&nbsp;
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>

	<hr>

	<div class="content">

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for type, message in messages %}
		<p class="alert alert-{{ type }}">{{ message }}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}

		<center>
			{% block content %}{% endblock %}
		</center>
	</div>
</body>

<!-- Login Modal -->
<div id="login_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Login modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<form class="form-signin" method="post">
					<input type="email" class="form-control" name="email" placeholder="Email Address" required=""
						autofocus="" />
					<input type="password" class="form-control" name="password" placeholder="Password" required="" />
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="login"
						value="True">Login</button>
					<button class="btn btn-lg btn-danger btn-block" data-dismiss="modal">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Register Modal -->
<div id="register_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Register modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Register</h4>
			</div>
			<div class="modal-body">
				<form class="form-signin" method="post">
					<input type="email" class="form-control" name="email" placeholder="Email Address" required=""
						autofocus="" />
					<input type="text" class="form-control" name="first_name" placeholder="First Name" required="" />
					<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="" />
					<input type="password" class="form-control" name="password" placeholder="Password" required="" />
					<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
						required="" />
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="register"
						value="True">Register</button>
					<button class="btn btn-lg btn-danger btn-block" data-dismiss="modal">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

</html>