{% extends "base.html" %}

{% block content %}

<head>
	<link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
</head>

{% for movie in movies %}
<div class="image-grid poster">
	<a href="{{ url_for('about', movie=movie.id) }}">
		<img src="{{ movie.poster }}" title="View {{ movie.title }}">
	</a>
</div>
{% endfor %}
{% endblock %}