{% extends "base.html" %}
{% from "_helpers.html" import render_field, render_button %}

{% block content %}

<head>
    <link href="{{ url_for('static', filename='styles/media.css') }}" rel="stylesheet">
</head>

<h3>Search <b>{{ search.query }}</b> found <b>{{ search.count }}</b> movies.</h3>
<form class="form-inline" action="" method="post" name="sort_form">
    {{ form.hidden_tag() }}

    {{ render_field(form.sort_choices, "", no_label=True, method="post") }}
    {{ form.sort(type="submit", class="btn btn-primary") }}
</form>

{% for movie in movies %}
<div class="media">
    <div class="media-left">
        <a href="{{ url_for('about', movie=movie.id) }}">
            <img class="media-object w3-card-4" src="{{ movie.poster }}" title="View {{ movie.title }}">
        </a>
    </div>
    <div class="media-body">
        <h3>
            <span class="label label-info">{{ movie.score }}</span>
            <a href="{{ url_for('about', movie=movie.id) }}" title="View {{ movie.title }}">
                {{ movie.title }} ({{ movie.year }})
            </a>
            &emsp;
            <b>{{ movie.rating }}</b>
            &emsp;
            {{ movie.runtime }}
        </h3>
        <p><b>{{ movie.genre }}</b></p>
        <p>{{ movie.plot }}</p>
        <p><b><a href="http://www.imdb.com/title/{{ movie.imdb_id }}">
                    <span class="glyphicon glyphicon-new-window"></span>
                    View on IMDB
                </a></b></p>
    </div>
</div>
{% endfor %}
{% endblock %}