{% extends "base.html" %}

<head>
	<link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/4.12/video.js"></script>
	<style type="text/css">
		.vjs-default-skin {
			color: #a61b1b;
		}

		.vjs-default-skin .vjs-play-progress,
		.vjs-default-skin .vjs-volume-level {
			background-color: #229cde
		}

		.vjs-default-skin .vjs-control-bar {
			font-size: 400%
		}
	</style>

	<!-- IE8 -->
	<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>


{% block content %}
<div style="text-align: left; padding: 10px;">
	<h2>{{ movie.title }} ({{ movie.year }})</h2>
	<center>
		<video class="video-js vjs-default-skin" controls autoplay preload="auto" width="1280" height="720"
			data-setup="{}">
			<source src="{{ file }}" type="video/mp4">
			<source src="{{ file }}" type="video/webm">
			<p class="vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a web browser that
				<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
		</video>
	</center>
	<hr>
</div>
{% endblock %}